{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <h2>{% translate 'Account Management' %}</h2>
{% if not request.user.is_superuser and not is_club_admin %}

    <h3>{% translate 'Current aliases' %}</h3>
    {% if aliases %}
    <table class="aliasTable">
    {% for alias in aliases %}
        <tr>
            <td>{{ alias.address }}</td>
            <td>
                <form method="POST" action="/user/deleteAlias">
                    {% csrf_token %}
                    <input type="hidden" value="{{ alias.id }}" name="alias">
                    <button class="iconLink"><img src="{% static 'img/delete.svg' %}" alt="Delete"></button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>{% translate 'You haven\'t created any aliases yet!' %}</p>
    {% endif %}
    <h3>{% translate 'Create alias' %}</h3>
    <form method="POST" action="/user/createAlias">
        {% csrf_token %}
        <label>{% translate 'Alias:' %} <input id="createAlias" name="alias" class="input" required></label><br>
        <pre>{% translate 'Just enter the front-part, @domain.com is added automatically!' %}</pre>
        <button class="button">{% translate 'Create alias' %}</button>
    </form>

{% endif %}
    <h3>{% translate 'Password Reset' %}</h3>
    <form method="POST" action="/user/resetPassword" class="flexColumn">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="oldPW">{% translate 'Old password' %}</label></td>
                <td><input id="oldPW" name="oldPW" type="password" class="input" required></td>
            </tr>
            <tr>
                <td><label for="newPW">{% translate 'New password' %}</label></td>
                <td><input id="newPW" name="newPW" type="password" class="input" required></td>
            </tr>
            <tr>
                <td><label for="repeatNewPW">{% translate 'Repeat new password' %}</label></td>
                <td><input id="repeatNewPW" name="repeatNewPW" type="password" class="input" required></td>
            </tr>
        </table>
        <button class="button">{% translate 'Reset' %}</button>
    </form>
{% endblock %}