<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B&uuml;rgernetz Manager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bnv.css' %}">
    <script src="{% static 'js/generic.js' %}"></script>
</head>
<body>
<div class="header">
    <h2 class="menuHeading">B&uuml;rgernetz Manager</h2>
    <div class="menuLinks">
        <a href="/admin/" class="menuLink">Administration</a>
    </div>
</div>
<div class="content">
{% block body %}
{% endblock %}
</div>
<footer class="footer">

</footer>
</body>
</html>