{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <h2>{% translate 'Language selection' %}</h2>
    <form method="POST" action="/setLanguage">
        {% csrf_token %}
        <label>{% translate 'Select your preferred language:' %}
            <select name="lang">
            {% for l in languages %}
                {% if l.identifier == current %}
                <option value="{{ l.identifier }}" selected>{{ l.representation }}</option>
                {% else %}
                <option value="{{ l.identifier }}">{{ l.representation }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </label>
        <button class="button">{% translate 'Select' %}</button>
    </form>

{% endblock %}