[Unit]
Description=BNV Manager service
Requires=bnv-manager.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=bnv-manager
Group=bnv-manager
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/home/bnv-manager/bnv-manager/bnv_manager/
ExecStart=/home/bnv-manager/bnv-manager/venv/bin/gunicorn -c /etc/bnv-manager/gunicorn.conf.py bnv_manager.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target