[Unit]
Description=BNV Manager

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/bnv-manager/bnv-manager/venv/bin/python3 manage.py runserver 127.0.0.1:8000
User=bnv-manager
WorkingDirectory=/home/bnv-manager/bnv-manager/bnv_manager/
Restart=always
KillSignal=SIGKIL