{% extends 'base.html' %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <label>UID<input name="uid" required></label>
    <label>Vorname<input name="givenName" required></label>
    <label>Nachname<input name="sn" required></label>
    <label>Mail<input name="mail" required></label>
    <label>Verein<input name="verein" required></label>
    <label>Quota<input name="quota" required></label>
    <label>Passwort<input name="pw" type="password" required></label>
    <button>Submit</button>
</form>
{% endblock %}