.colors {
    background-color: #111111;
    background-color: #1c1c1c;
    background-color: #242424;
    background-color: #313131;
    background-color: #b55400;
    background-color: #eeeeee;
}

body {
    margin: 0;
    background-color: #1a1a1a;
    color: #eeeeee;
    font-family: "Source Sans Pro", "Arial", sans-serif;
}

.header {
    background-color: #242424;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 4px #111111;
}

.footer {
    background-color: #242424;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 3em;
    width: 100%;
}

.content {
    margin-top: 5em;
    margin-bottom: 2em;
}

.menuHeading {
    margin-left: 2em;
}

.menuLinks {
    display: flex;
}

.menuLink {
    font-weight: bold;
    color: #eeeeee;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    outline: none;
    transition: color 100ms linear;
}

.menuLink:hover {
    color: #b55400;
}

.loginBox {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    margin-top: 5vh;
    padding: 2em 1em;
    border: 1px solid #111111;
    box-shadow: 4px 4px 4px #111111;
}

input {
    background-color: #2b2b2b;
    padding: 0.5em;
    color: #eeeeee;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    outline:none;
    margin: 0.75em;
    transition: background-color, border 100ms linear;
    width: 90%;
}

input:hover {
    border: 1px solid #b55400;
    background-color: #313131;
}

input:focus {
    border: 1px solid #b55400;
    background-color: #313131;
}

button {
    color: #eeeeee;
    padding: 0.5em;
    background-color: #b55400;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    margin: 0.75em;
    cursor: pointer;
    transition: background-color 100ms linear;
}

button:hover {
    background-color: #974501;
}

button:focus {
    background-color: #974501;
}

.loginBox p {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 90%;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.managementItemBox {
    padding: 0.75em;
    background-color: #242424;
    transition: background-color 100ms linear;
}


.administrationContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 2em 4em;
}

.administrationItem {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #242424;
    padding: 2em;
    width: 15em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #111111;
    box-shadow: 4px 4px 4px #111111;
    transition: background-color, color 100ms linear;
    margin-right: 3em;
    margin-bottom: 2em;
}

.administrationItem:hover {
    color: #b55400;
}
.administrationAddClub {
    display: flex;
    width: 25em;
    justify-content: left;
    align-items: flex-end;
    background-color: #242424;
    padding: 2em;
    font-weight: bold;
    border: 1px solid #111111;
    box-shadow: 4px 4px 4px #111111;
    transition: background-color 100ms linear, color 100ms linear;
    margin-right: 3em;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

.administrationClub {
    display: flex;
    flex-direction: column;
}

.administrationAddClub button {
    height: 2.5em;
    width: 7em;
    transition: color 100ms linear;
    margin-left: 5em;
}

.administrationAddClubColumn {
    display: flex;
    flex-direction: column-reverse;
}

.administrationAddClubColumn p {
    margin-bottom: 0;
}

.administrationAddClubColumn h3 {
    margin: 0;
}

.administrationClubItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 1.5em;
    width: 15em;
    height: 1em;
    font-weight: bold;
    border: 1px solid #111111;
    box-shadow: 4px 4px 4px #111111;
    transition: background-color 100ms linear, color 100ms linear;
    margin-right: 3em;
    margin-bottom: 2em;
}

.administrationClubItem button {
    width: 5em;
    height: 5em;
    background-color: #2b2b2b;
    display: flex;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms linear;
    padding: 0;
    margin: 0 -2em 0 0;
    border-radius: 0;

}

.administrationClubItem button:hover {
    background-color: #b55400;
}

.administrationClubItem img {
    height: 2em;
    filter: invert(255);
}

.administrationClubContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.administrationClubItemLink {
    text-decoration: none;
    color: white;
    outline: none;
    transition: color 150ms linear;
}

.administrationClubItemLink:hover {
    color: #b55400;
}

.clubContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.clubPartContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 44vw;
    margin-left: 4vw;
}

.verSeperator {
    display: flex;
    margin-top: 2em;
    width: 1px;
    height: auto;
    background-color: #eeeeee;
    margin-left: 2vw;
    margin-right: 2vw;
}

.clubDomain {
    background-color: #242424;
    padding: 0.5em;
    border: 1px solid #111111;
    box-shadow: 4px 4px 4px #111111;
    width: 15em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.clubDomain button {
    width: 5em;
}

.clubDomainContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.clubHeading {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.breadcrumbs {
    margin-left: 3vw;
    margin-top: 6em;
}

.breadcrumbs a {
    outline: none;
    color: #eeeeee;
    font-weight: bold;
    text-decoration: none;
    transition: color 150ms linear;
}

.breadcrumbs a:hover {
    color: #b55400;
}

.accountTable {
    border-collapse: collapse;
    border: 1px solid #111111;
    box-shadow: 4px 4px 4px #111111;
    margin: 1em;
}

.tableRow:nth-child(odd) {
    background-color: #242424;
}

.tableRow:nth-child(even) {
    background-color: #2b2b2b;
}

.tableRow th, td {
    padding: 0.5em 1em;
    text-align: center;
}

.accountAdd {
    display: flex;
    flex-direction: column;
    width: 25em;
    background-color: #242424;
    box-shadow: 4px 4px 4px #111111;
    border: 1px solid #111111;
    padding: 1em;
    margin: 1em;
}

.accountContent {
    display: flex;
    flex-direction: row;
    margin: 2em 2em 4em;
    justify-content: space-evenly;
}

.accountContent button {
    padding-left: 2em;
    padding-right: 2em;
}

.accountContent img {
    filter: invert();
    width: 1em;
}

.accountAddPassword {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#username:hover {
    border: 1px solid #111111;
    background-color: #2b2b2b;
    cursor: not-allowed;
}

#username:focus {
    border: 1px solid #111111;
    background-color: #2b2b2b;
    cursor: not-allowed;
}

#superadmin {
    width: 2em;
    margin-right: 80%;
}

.passwordReset {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    padding: 2em;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.passwordReset img {
    height: 1em;
    filter: invert(255);
}

.passwordReset button {
    padding-left: 2em;
    padding-right: 2em;
}


.passwordResetModal {
  background-color: #242424;
  margin: 15% auto;
  border: 1px solid #111111;
  width: 30%;
}

.passwordResetContent {
    display: flex;
    padding: 1em;
    flex-direction: column;
}

#close {
    margin: 0;
    border-radius: 0;
    background-color: #242424;
    transition: background-color 150ms linear;
}

#close:hover {
    background-color: #b55400;
}

.rightAligned {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (max-width: 1600px) {
    .accountContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1140px) {
    .accountContent table {
        font-size: 85%;
    }
}
