{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="breadcrumbs">
    <a href="/">Admin Dashboard</a> / <a href="/administration/accounts">Accounts</a>
</div>
<div class="accountContent">
    <div class="accountAdd">
        <form method="POST" action="/administration/accounts/add">
            {% csrf_token %}
            <h3>Add account</h3>
            <label for="username">Username</label>
            <input name="username" id="username" readonly>
            <label for="firstname">Firstname</label>
            <input name="firstname" id="firstname" required oninput="constructUsername('username', 'firstname', 'lastname', {{ user_names }});">
            <label for="lastname">Lastname</label>
            <input name="lastname" id="lastname" required oninput="constructUsername('username', 'firstname', 'lastname', {{ user_names }})">
            <label for="mail">Mail</label>
            <input name="mail" id="mail" required>
            <label for="password">Password</label>
            <div class="accountAddPassword">
                <input id="password" name="password" type="password" required>
                <button onclick="generatePassword('password');" type="button">
                    <img src="{% static 'img/random.svg' %}" alt="random">
                </button>
            </div>
            <label for="superadmin">Make Superadmin</label>
            <input id="superadmin" name="superadmin" type="checkbox">
            <button>Create</button>
        </form>
    </div>
{% if users|length > 0 %}
    <table class="accountTable">
        <tr class="tableRow">
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Mail</th>
            <th>Superadmin</th>
            <th>Reset Password</th>
            <th>Delete</th>
        </tr>
        {% for user in users %}
        <tr class="tableRow">
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td><label><input disabled type="checkbox" {% if user.is_superuser %}checked{% endif %}></label></td>
            <td>
                <button><img src="{% static 'img/password.svg' %}" alt="Select"></button>
            </td>
            <td>
                <form method="POST" action="/administration/accounts/delete/{{ user.username }}">
                    {% csrf_token %}
                    <button><img src="{% static 'img/delete_big.svg' %}" alt="Select"></button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</div>
{% endblock %}
