{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="administrationContent">
    <div class="administrationGroup">
        <form method="POST" action="/administration/clubs/add">
            {% csrf_token %}
            <div class="administrationAddClub">
                <div class="administrationAddClubColumn">
                    <label><input name="name" required></label>
                    <p>Enter a name for the club:</p>
                    <h3>Add club</h3>
                </div>
                <button>Create</button>
            </div>
        </form>
        <div class="administrationClubContent">
        {% for club in club_list %}
            <div class="administrationClubItem">
                {{ club.name }}
                <form action="/administration/clubs/delete/{{ club.name }}" method="POST">
                     {% csrf_token %}
                    <button><img alt="Delete" src="{% static 'img/delete.svg' %}"></button>
                </form>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
