{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <h2>Password reset</h2>
    <form method="POST" action="/club-management/resetPassword">
        {% csrf_token %}
        <label for="password">{% translate 'Enter the new password:' %}</label>
        <input type="password" class="input" id="password" name="password" required>
        <input value="{{ username }}" name="username" type="hidden">
        <input value="{{ club }}" name="club" type="hidden">
        <button class="button">{% translate 'Reset password' %}</button>
    </form>

{% endblock %}