{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h3>User creation</h3>
    <form method="POST" action="/club-management/addUser">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="firstname">Firstname</label></td>
                <td><input id="firstname" name="firstname" class="input" required></td>
            </tr>
            <tr>
                <td><label for="surname">Surname</label></td>
                <td><input id="surname" name="surname" class="input" required></td>
            </tr>
            <tr>
                <td><label for="initialPassword">Initial password</label></td>
                <td><input id="initialPassword" type="password" class="input" name="initialPassword" required> </td>
            </tr>
        </table>
        <button class="button">Add</button>
    </form>

    <h3>User management</h3>
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Mail</th>
            <th>Reset password</th>
            <th>Delete user</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.mail }}</td>
            <td>Reset</td>
            <td>Delete</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}